h1 {
    text-align: center;
    color: red;
  }

  h2 {
    text-align: center;
    color: purple;

  }

  h3 {
    color: chocolate;
  }

  .menu {
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5vh;
  }
  
  .menu li {
    text-align: center;
    flex:1 0 10px;
    margin: 5px;
  }

  .alet1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5vh; 
  }
  
  .alet1 li {
    text-align: center;
  }

  .alet2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300vh; 
  }
  
  .alet2 li {
    text-align: center;
  }